<p-toolbar styleClass="bg-gray-900 shadow-2">
  <div class="p-toolbar-group-start">
  </div>
  <div class="p-toolbar-group-center">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search" />
        </span>
  </div>
  <div class="p-toolbar-group-end">
    <p-button     class="mr-2" routerLink="/">Home</p-button>
    <p-button  class="mr-2" routerLink="/about-us">About Us</p-button>
    <p-button     class="mr-2" routerLink="/auth/register">Register</p-button>
    <p-button   class="mr-2" routerLink="/auth/login">Login</p-button>
    <p-button  class="mr-2">Sign out</p-button>
  </div>
</p-toolbar>
